:root {
    --color_bg: #111111;
    --color_secondary: #495E57;
    --color_accent: #F4CE14;
    --color_primary: #F5F7F8;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color_bg);
}

li{
    color: var(--color_secondary);
}


h1{
    font-family: 'Poppins';
    color: #900C3F;
    
}

.center_title{
    width: 100%;
    text-align: center;
}
